body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
  scroll-behavior: smooth;
}

/* NAVBAR */
.nav {
  position: sticky;
  top: 0;
  background: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LINKS */
.links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.links a:hover {
  color: lightblue;
}

/* HERO */
.hero {
  padding: 120px 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: lightblue;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  border-top: 1px solid #333;
}

/* BUTTON */
button {
  padding: 10px 20px;
  border: none;
  background: blue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}