.nav {
  background: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.links a:hover {
  color: lightblue;
}